# Variable Types and Numeric Operators

Welcome back to the first Python notebook you will go through during the bootcamp. We hope you have all had a look at the notebooks we shared with you before the course. In the following notebooks we will go through all the topics you have already seen in the preparation notebooks to refresh your knowledge. For those of you who have worked with Python before and are comfortable with programming, it might be easy. For some, it may only be the second time they've heard of most of the topics and some of the exercises might already be challenging. That's fine! No one becomes a true Pythonista overnight. To become good at programming, you need one thing above all: **practice**! And that's why today we will start by reviewing the basics. For some topics, we will dive deeper and expand your knowledge from the preparation notebooks. 

But enough said, let's start by strengthening your Python knowledge!

## Objectives

In this notebook we will refresh our knowledge about:

- how to do simple math with Python
- different data types
- variables

## Numeric Operations

At its base level, Python is really just an awesome calculator!

All of the operations that you think should be available are available. Addition, subtraction, multiplication, division and exponentiation are all accessible via `+` , `-` , `*` , `/` and `**` , respectively. As in maths, you can also change the order of the operations using parenthesis `()`.

In [1]:
32 + 23

55

In [2]:
19 - 21

-2

In [3]:
11 * 11

121

In [4]:
12 / 32

0.375

In [9]:
# three to the power of 2
3 ** 2

9

In [10]:
# multiplication before summation as in normal math rules
4 + 6 * 5

34

In [11]:
# brackets do function as well
(4 + 6) * 5

50


But Python has even more to offer. Besides those simple operators you can also find on any calculator, Python has two more arithmetic operators which might be new to you: `//` and `%`.

The double slash `//` is called floor division. All it does is perform division and truncate the result.

In [14]:
# Floor division = rounded to the next lower values, no comma places  
34 // 4

8

The other operator is the modular division operator, `%` (also called modulo). This operation is the sibling to `//`. Whereas `//` returns the truncated result of a division, `%` returns the remainder of integer division.

In [15]:
# Modulo
# Return the integer rest of a division
34 % 4

2

During your daily work as a Data Scientist you will need a variety of different mathematical operations. For some of them you can use built-in functions. 

`abs()`, `min()`, `max()` and `round()` are helpful little functions to know when you start working with data. As their names already imply `abs()` will return the absolut value of a number, `min()` and `max()` will return the minimum respectively maximum of a bunch of numbers and `round()` will round a number to a given amount of decimals.

In [16]:
abs(2.14)

2.14

In [17]:
abs(-2.14)

2.14

In [18]:
min(14, 21, 32, 11, 44, 23)

11

In [19]:
max(14, 21, 32, 11, 44, 23)

44

In [20]:
round(3.14159265359, 3)

3.142

## Variables

One of the most powerful constructs in programming is the ability to store arbitrary values in what we call variables. You can think of variable assignment as giving a name to something so that it can be accessed later by different parts of your program.

As you may remember, variable assignment in Python occurs with the `=` operator. To assign a value to a variable name (i.e. declare it), you simply put the variable name on the left side of the `=` and the value you want to associate with that variable name on the right side. Once this has happened, you can access the value in the variable by using it's name somewhere later in your code or notebook.

Remember to not name your variables as one of the python keywords! You find yourself a list with:

In [32]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [21]:
a = 8
b = "Hello"

In [22]:
b

'Hello'

In [23]:
a - 4

4

In [24]:
# even strings can be multiplied when you have integers, floats will not possible
a * b

'HelloHelloHelloHelloHelloHelloHelloHello'

In [25]:
d = 3.4895723895645

In [27]:
# integers will be rounded down to the next lower integer
b * int(d)

'HelloHelloHello'

The name you can give a variable can technically be any contiguous set of characters, but there are some conventions followed in Python and programming in general. Python follows a variable naming convention called snake case, which uses underscores `_` instead of spaces and only lower case letters (e.g. `my_first_variable`). Although `my_first_variable` would be in snake_case it is not a good variable name. In order to make your code more readable and maintainable you should always give your variables well-defined, succinct names. Calling something `height` is a lot more meaningful than only calling it `x`. 

There are of course cases where using less than descriptive variable names follows convention and are, therefore, just fine to use. A common example is the use of `i` to keep track of an index. Because of its prevalent usage for indexing, it is usually easy to understand what is happening in that context when all you see is the varible name `i`.

In the cells above `a = 8` or `b = "Hello"` did not generate an output. This is because the return value that would have been printed as output was assigned to the variables `a` and `b`. To view the content of the variables we had to call them in the next lines.

A large part of variables' power is the fact that they can change. This allows us to use a single variable name to keep track of a specific thing throughout the life of a program. 
Remember how we assigned the value `8` to `a` above? The exact same syntax can be used to change the value stored in the variable.
Let's say we want to increase the value of a by 5:

In [28]:
a = a + 5
a

13

Notice how the first line above is formatted. Python knows that the `=` means variable assignment, so when it sees the first line it evaluates the right side of the equals and then puts that value in `a`, even though `a` is part of the calculation on the right side. `a` is now connected with this new value and the old value is gone.

Changing variables in this way occurs so commonly that there is built-in shorthand for it. The result of the first line could have been achieved with `a += 5`. This *syntactic sugar* is available for all the simple operations `+`, `-`, `*`, `/`, `**`, and `%` that we covered earlier.

## Types

Data type is an important concept in programming. Variables can store data in different types and different types can do different things.

Do you remember the adage: "If it walks like a duck, and quacks like a duck, then it must be a duck". Python is a duck typed language, which means that Python will determine what it thinks is the best type to call a variable when you use it, unless explicitly told otherwise.

### Numeric Variable Types

Let's review some basic numeric variable types in Python, which all represent numbers in some way.
The most important ones are `ints`, short for integers, `floats`, short for floating point/decimal numbers, and `complex`, which contain real and imaginary parts stored as floats.

To inspect what type Python thinks a variable (or number...) is, you can use the `type()` function. This will be especially useful when you run into an error and will have to debug your code.

In [ ]:
14 # Int

In [ ]:
32.2 # Float

In [ ]:
complex(5, 6) # complex

In [29]:
type(14)

int

In [30]:
type(82.6)

float

In [31]:
type(complex(5, 6))

complex

As you can see, Python assumes that a number with no decimal point is an `int`, those with a decimal point a `float`, and (surprise!) those from the `complex()` constructor as `complex`.

Frequently, these subtle differences wont matter too much. However, there will be times when this implementation detail will make you think that something will work, when really it won't. Knowing how to check the type of something will help you solve any of these potential problems.

### String

We have mentioned strings (`str` for short) only very briefly in the preparation notebooks and will not go into it here.
Since string manipulation and formatting is a big topic, we will devote a whole notebook to it.

### Bool

Python has a special data type called `bool`, which can only have two values: `True` or `False`.
We will refresh our knowledge of boolean values when we come to the if-then statements.

 * Bool can even be added to True + True = True or 1 + 1 = 1
 * False + False = False or 0 + 0 = 0

### Further Data Types

There are several other built-in data types in Python. We will cover `lists`, `dictionaries`, `sets`, `tuples` and `range` in later notebooks more in detail.

## Check your understanding!

**Part 1**

What do you think the results of the following computations will be?
1. `19.0 - 11` 
2. `12 * 0.25` 
3. `12 ** 2`
4. `25 // 6`
5. `(12 + 8) / 7`
6. `(21 / 3) % 2`

In [35]:
# Test
print(19.0 - 11) 
print(12 * 0.22)
print(12 ** 2)
print(25 // 6)
print((12 + 8) / 7)
print((21 / 3) % 2)

8.0
2.64
144
4
2.857142857142857
1.0

In [8]:
print(f'{19.0 - 11}\n{12 * 0.22}')

8.0
2.64

**Part 2**

Consider the following code:

```
x = 82
y = 30
x += y
y = x - 3
x -= y - 5
```

What are the values of x and y after each line?

In [44]:
# Test 2
x = 82
print(x)
y = 30
print(y)
x += y
print(x)
y = x - 3
print(y)
x -= y - 5
print(x)

82
30
112
109
8

```
The last line is completely weird something like this should happen here plus there must be a minus-minus type of addition in order
 to get to 8 an not -2 in the end. 
 x = x - y - 5
    112 - 109 - 5
```

**Part 3**

What are the types of the following numerics?
1. `10`
2. `100.32`
3. `complex(-5, -10.2)`

**Part 4**

Person1 is 21 years old, Person2 is 43 years old and Person3 is 19 years old. Define variables for the ages, calculate the mean with them and save the resulte in another variable. Check which type the result has. Can you round the result to 2 decimals?

In [5]:
import numpy as np
age = [21, 43, 19]
mean = np.mean(age)
print(mean)
type(mean)
mean_r = round(mean, 2)
print(mean_r)

27.666666666666668
27.67